<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">
	<main>
		<div class="row">
			<div class="col-sm-8">
				
				<div class="jumbotron">
					<% for(var i=0; i<data.length; i++) { %>
						<p><%= data[i].id %> - <%= data[i].shop_name %></p>

						<button data-id=<%= data[i].id %>>delete</button>
					<% } %>
				</div>
				
			</div>
			<div class="col-sm-4">
				
				<div class="well">
					<h3>Look I'm A Sidebar!</h3>
				</div>

			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>